/* nav {
  height: 110px;
  width: 100%;
  background: $background-eternity;
  display: inline-flex;
  justify-content: space-between;
}

.background__header {
  width: 100%;
  height: 980px;
  left: 0;
  top: 0px;
  z-index: -5;
  background: $background-eternity;
}

#menu-logo-img-hidden {
  display: none;
}

#menu__icon-hidden {
  display: none;
} */

.slider-bg {
  background-color: rgb(182, 182, 182);

  &__img {
    width: 100%;
    height: 600px;
    object-fit: contain;
  }

  &__main-block {
    /* background-color: rgb(219, 58, 58); */
  }
}